@{
    ViewData["Title"] = "Trang chủ";
}
<style>
    .slogan-container {
        text-align: center;
        margin-top: 20px;
    }

    .slogan {
        font-size: 2.5em;
        font-weight: bold;
        color: #333;
    }
</style>
<div class="slogan-container">
    <h1 class="slogan">Chào mừng đến với STC Connection</h1>
</div>